[flake8]
exclude = .git,__pycache__,build,dist
max-line-length = 100
max-doc-length = 120
statistics = true
doctests = true
docstring-convention = numpy
ignore = D100, D101, D102, D103, D104, D105, D401, W503